<xml>
  <url_map>
    <!-- HPG SCRIPT BLOCK -->
    <item key="secureobjectroot" server_url="https://secure.cprod.homeps3.online.scee.com/objects" />
    <item key="securesceneroot" server_url="https://secure.cprod.homeps3.online.scee.com/scenes" />
    <!-- HPG SCRIPT BLOCK -->

    <!-- DESTINATIONS SCRIPT BLOCK -->
    <item key="15816_destinations1" server_url="https://prd.destinations.scea.com" />
    <item key="15816_hellfire_poker_eu" server_url="https://holdemeu.destinations.scea.com/PokerServer" />
    <item key="15816_hellfire_poker_us" server_url="https://holdemna.destinations.scea.com/PokerServer" />
    <!-- DESTINATIONS SCRIPT BLOCK -->
  </url_map>
</xml>
